button:not(.close){
    padding: 8px 20px!important;
    border-radius: 8px!important;
    font-weight: 500!important;

    &.btn-icon {
        i:first-child {
            margin-right: 0.4em;
        }

        i:last-child {
            margin-left: 0.4em;
        }
    }

    &.btn-small {
        padding: 4px 10px!important;
    }

    &.btn-round {
        border-radius: 20px!important;
    }

    &.btn-text {
        padding: 0!important;
        border: 0!important;
        background: transparent!important;
    }
}

form > button:first-child {
    margin-top: 1em;
}
