$primary-button-color: #7642FF;
$neutral-button-color: #e9e9e9;
$neutral-button-font-color: #444;

button:not(.close), a.btn{
    padding: 8px 20px!important;
    border-radius: 8px!important;
    font-weight: 500!important;
    font-size: 12pt;
    text-transform: none!important;
    transition: 200ms;

    &.btn-primary {
        background-color: $primary-button-color;

        &:hover {
            background-color: darken($primary-button-color, 7%)
        }
    }

    &.btn-icon {
        i:first-child {
            margin-right: 0.4em;
        }

        i:last-child {
            margin-left: 0.4em;
        }
    }

    &.btn-small {
        padding: 4px 10px!important;
    }

    &.btn-round {
        border-radius: 20px!important;
    }

    &.btn-text {
        padding: 0!important;
        border: 0!important;
        background: transparent!important;
    }

    &.btn-block {
        padding: 10px!important
    }

    &.btn-outline-primary:hover, .btn-outline-primary:active {
        color: #fff;
        background-color: #7642FF;
        border-color: #7642FF;
        background-image: none;
    }

    &.btn-neutral {
        color: $neutral-button-font-color;
        background-color: $neutral-button-color;
        border-color: $neutral-button-color;

        &:hover {
            background-color: darken($neutral-button-color, 7%)
        }
    }
}

form > button:first-child {
    margin-top: 1em;
}
