button {
    padding: 8px 20px!important;
    border-radius: 8px!important;
    font-weight: 500!important;

    &.btn-icon {
        i:first-child {
            margin-right: 0.4em;
        }

        i:last-child {
            margin-left: 0.4em;
        }
    }
}

form > button:first-child {
    margin-top: 1em;
}
